@import "tailwindcss";

@theme {
  --color-coral-50: #fef7f0;
  --color-coral-100: #fdecd8;
  --color-coral-200: #fbd5b0;
  --color-coral-300: #f8b77d;
  --color-coral-400: #f59347;
  --color-coral-500: #ee8669;
  --color-coral-600: #d8745c;
  --color-coral-700: #bc4513;
  --color-coral-800: #963817;
  --color-coral-900: #7a3018;
  --color-coral-950: #42160a;
  
  --color-navy: #19253d;
  --color-cream: #f8eee4;
}
